{
    "root": true,
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "jasmine": true
    },
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint/eslint-plugin"
    ],
    "extends": [
      "airbnb-typescript"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
      },
    "rules": {
        "no-console": "error",
        "semi": "error",
        "linebreak-style": "off",
        "space-infix-ops": "off",
        "no-tabs": "warn",
        "@typescript-eslint/type-annotation-spacing": "error",
        "global-require": "off",
        "import/prefer-default-export": "off",
        "no-case-declarations": "off",
        "max-classes-per-file": "off",
    }
  }
